<!DOCTYPE HTML>
<head>
<title></title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<style>
</style>
</head>
<body>
  <div class="container">
    <div class="well">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
        <div class="input-group">
          <div class="input-group-addon">@</div>
          <input class="form-control" id="twitter-handle" type="text" placeholder="Enter Twitter Handle">
        </div>
        </div>
      </div>
      <div class="form-group">
        <div class="text-center">
          <button type="button" class="btn btn-sucess" id="followers">Followers</button>
          <button type="button" class="btn btn-sucess" id="friends">Friends</button>
        </div>
      </div>
    </form>
    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v2.0.0.js"></script>
<script>
$(function() {

});
</script>

</body>
</html>
